@import "tailwindcss";

@theme {
  --background: #000000;
  --foreground: #ffffff;
  --accents-1: #111111;
  --accents-2: #333333;
  --accents-3: #444444;
  --accents-4: #666666;
  --accents-5: #888888;
  --accents-6: #999999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --geist-success: #0070f3;
  --geist-error: #ee0000;
  --geist-warning: #f5a623;
  
  --color-accents-1: var(--accents-1);
  --color-accents-2: var(--accents-2);
  --color-accents-3: var(--accents-3);
  --color-accents-4: var(--accents-4);
  --color-accents-5: var(--accents-5);
  --color-accents-6: var(--accents-6);
  --color-accents-7: var(--accents-7);
  --color-accents-8: var(--accents-8);
  --color-geist-success: var(--geist-success);
}
